* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
}

.navbar {
  background-color: #223E7C ;
}

.jumbotron {
  /* background-color: #0095eb; */
  background-image: url("../src/image/lc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;  
}

.jumbotron::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(240, 240, 240, 1) 5%, rgba(240,240,240, 0) 30%);
}

.jumbotron span {
  color: #0095eb;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 1);
}

.jumbotron h1 {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 1);
  line-height: 1.2;
  font-weight: 700;
}

.jumbotron p {
  color: #fff;
  font-size: 1.6rem;
  margin-top: 1rem;
  font-weight: 400;
  color: #ffff;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 1);
  line-height: 1.2;
}

.cta {
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  color: #fefefe;
  background-color: #0095eb;
  border-radius: 0.5rem;
  border-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.cta:hover {
  text-decoration: none;
  background-color: #223E7C;
  color: #fefefe;
}



#home {
  color: white;
}

.container-content{
  background-color: #0095eb;
  position: relative;
}

.container-jadwal {
  position: relative;
}

.container-jadwal::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0px;
  background: linear-gradient(0deg, rgba(0, 149, 235, 1) 5%, rgba(240,240,240, 0) 20%);
}

.container-content h1 {
  color: white;
}

.footer {
  background-color: #223E7C ;
  color: white;
}

.responsive-iframe {
    position: relative;
    /* overflow: hidden; */
    padding: 32px;
    padding-top: 50%;
    background-color: white;
    /* border-radius: 16px;
    box-shadow: 0px 0px 5px grey; */
  }

  .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    /* border-radius: 16px;
    box-shadow: 0px 0px 5px grey; */
  }

  /* Gaya tambahan lainnya */
  h1 {
    font-size: 24px;
  }

  .user-input {
    margin-bottom: 20px;
  }

  /* Gaya untuk kontainer tabel */
  .table-container {
    max-height: 300px;
    overflow-y: auto;
  }

  .card-table {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 0px 5px grey;
  }

  table {
    width: 100%;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  /* Gaya tambahan untuk Bootstrap */
  .container {
    padding: 20px;
  }

  .card {
    border-radius: 16px;
    box-shadow: 0px 0px 15px grey;
  }

  /* CSS untuk layar berukuran kecil (ponsel) */
  @media (max-width: 500px) {
    /* Misalnya, mengurangi padding pada elemen */
    .container {
      padding: 10px;
    }

    .container-jadwal {
      position: relative;
    }

    .container-jadwal::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 20%;
      bottom: 0px;
      background: linear-gradient(0deg, rgba(0, 149, 235, 1) 5%, rgba(240,240,240, 0) 20%);
    }

    .jumbotron h1 {
      font-size: 2rem;
    }
    
    .jumbotron p {
      font-size: 1rem;
    }

    .cta {
      font-size: 1rem;
    }

    /* Mengurangi ukuran font untuk judul */
    h1 {
      font-size: 18px;
    }

    /* Mengatur ulang tinggi iframe */
    .responsive-iframe {
      padding-top: 150%; /* Sesuaikan dengan perbandingan aspek yang sesuai */
    }

    /* Mengurangi padding pada tabel */
    th,
    td {
      padding: 4px;
    }
    .display-4 {
      font-size: 32px;
    }
  }